* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header styles starts */
.header {
    background-color: #E554731A;
}

.header-item {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-title {
    text-align: left;
    font-size: 50px;
    width: 500px;
    color: #272727;
}

.header-desc {
    width: 600px;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);

}

.header-content {
    width: 400px
}

.header-image {
    width: 640;
    height: 500px;
}

.all-btn {
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    border: 0;
    background-color: rosybrown;
    color: antiquewhite;
}

/* header styles ends */


/* main styles starts */

.bonus-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-align: center;

}
.bonus-container img{
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
    margin-bottom: 0;
}
.bonus-text {
    margin-bottom: 50px;
    padding: 0 400px;
}

.bonus-title {
    text-align: center;
    margin: 20px 0;
}

.bonus-desc {
    text-align: center;
    font-size: 13px;
    font-style: normal;
    color: rgba(39, 39, 39, 0.60);
}
.bonus-one {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 400px;
}

.bonus-two {
    background: rgba(79, 34, 87, 0.862);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 400px;
}

.bonus-three {
    background: rgba(175, 34, 38, 0.405);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 400px;
}
